
/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 * Kanagawa Paper Ink Color Scheme
 */

* {

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 26px;
	transition: none;
	/*
    color: #DCD7BA;
	background: #1D1C19;
    */
    color: transparent;
	background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #181616;
	background: #c5c9c5;
}

#window{

  margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #1D1C19;
	transition: none;
	color: #181616;
	background: #699469;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #1D1C19;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #DCD7BA;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #7E9CD8;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #949fb5;
}

#custom-omarchy{
  margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #1D1C19;
	transition: none;
	color: #181616;
	background: #699469;
}
#custom-expand-icon{

  margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #1D1C19;
	transition: none;
	color: #181616;
	background: #cc6d00;
}
#custom-screenrecording-indicator{

  margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #1D1C19;
	transition: none;
	color: #181616;
	background: #8992a7;
}
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
	border-radius: 26px;
	background: #1D1C19;
	transition: none;
	color: #181616;
	background: #7E9CD8;
}
#bluetooth {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #1D1C19;
	transition: none;
	color: #181616;
	background: #699469;
}


#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #181616;
	background: #8992a7;
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #181616;
	background: #7E9CD8;
}

#battery{
	margin-top: 8px;
	margin-left: 8px;
  margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #181616;
	background: #699469;
}

#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #181616;
	background: #cc6d00;
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #181616;
	background: #c4746e;
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #DCD7BA;
	background: #1D1C19;
}

#tray {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	background: #1D1C19;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #c4746e;
}

tooltip {
	background: #1D1C19;
	border: 1px solid #c5c9c5;
	border-radius: 8px;
}

tooltip label {
	color: #DCD7BA;
}
