
/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 26px;
	transition: none;
	/*
    color: #f8f8f2;
	background: #282a36;
    */
    color: transparent;
	background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #282a36;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #9aedfe;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#custom-omarchy{
  margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
	background: #5af78e;
}
#custom-expand-icon{

  margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
	background: #f1fa8c;
}
#custom-screenrecording-indicator{

  margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
	background: #bd93f9;
}
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
	border-radius: 26px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
	background: #9aedfe;
}
#bluetooth {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
	background: #5af78e;
}


#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #bd93f9;
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #9aedfe;
}

#battery{
	margin-top: 8px;
	margin-left: 8px;
  margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #5af78e;
}

#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #f1fa8c;
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #ff6e67;
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}
